@keyframes circle1 {
  0% { left:-4.941%;top:-10.795%; }
  1.613% { left:-5.177%;top:-8.852%; }
  3.226% { left:-4.131%;top:-5.675%; }
  4.839% { left:-1.782%;top:-1.995%; }
  6.452% { left:1.543%;top:1.413%; }
  8.065% { left:5.230%;top:3.907%; }
  9.677% { left:8.512%;top:5.121%; }
  11.290% { left:10.642%;top:5.031%; }
  12.903% { left:11.071%;top:3.936%; }
  14.516% { left:9.587%;top:2.362%; }
  16.129% { left:6.374%;top:0.909%; }
  17.742% { left:1.986%;top:0.083%; }
  19.355% { left:-2.773%;top:0.162%; }
  20.968% { left:-7.016%;top:1.121%; }
  22.581% { left:-9.968%;top:2.635%; }
  24.194% { left:-11.132%;top:4.170%; }
  25.806% { left:-10.392%;top:5.128%; }
  27.419% { left:-8.022%;top:5.012%; }
  29.032% { left:-4.617%;top:3.571%; }
  30.645% { left:-0.939%;top:0.889%; }
  32.258% { left:2.258%;top:-2.615%; }
  33.871% { left:4.402%;top:-6.266%; }
  35.484% { left:5.222%;top:-9.283%; }
  37.097% { left:4.795%;top:-10.960%; }
  38.710% { left:3.499%;top:-10.835%; }
  40.323% { left:1.900%;top:-8.809%; }
  41.935% { left:0.585%;top:-5.182%; }
  43.548% { left:0.007%;top:-0.594%; }
  45.161% { left:0.360%;top:4.104%; }
  46.774% { left:1.526%;top:8.040%; }
  48.387% { left:3.108%;top:10.505%; }
  50.000% { left:4.535%;top:11.107%; }
  51.613% { left:5.222%;top:9.847%; }
  53.226% { left:4.731%;top:7.103%; }
  54.839% { left:2.904%;top:3.535%; }
  56.452% { left:-0.075%;top:-0.075%; }
  58.065% { left:-3.700%;top:-3.012%; }
  59.677% { left:-7.247%;top:-4.781%; }
  61.290% { left:-9.938%;top:-5.214%; }
  62.903% { left:-11.122%;top:-4.483%; }
  64.516% { left:-10.434%;top:-3.036%; }
  66.129% { left:-7.893%;top:-1.462%; }
  67.742% { left:-3.906%;top:-0.326%; }
  69.355% { left:0.000%;top:0.000%; }
  70.968% { left:4.650%;top:-0.467%; }
  72.581% { left:8.437%;top:-1.710%; }
  74.194% { left:10.685%;top:-3.305%; }
  75.806% { left:11.048%;top:-4.671%; }
  77.419% { left:9.576%;top:-5.231%; }
  79.032% { left:6.690%;top:-4.577%; }
  80.645% { left:3.075%;top:-2.590%; }
  82.258% { left:-0.488%;top:0.503%; }
  83.871% { left:-3.301%;top:4.160%; }
  85.484% { left:-4.907%;top:7.642%; }
  87.097% { left:-5.180%;top:10.177%; }
  88.710% { left:-4.332%;top:11.142%; }
  90.323% { left:-2.836%;top:10.215%; }
  91.935% { left:-1.288%;top:7.465%; }
  93.548% { left:-0.237%;top:3.345%; }
  95.161% { left:-0.041%;top:-1.398%; }
  96.774% { left:-0.764%;top:-5.880%; }
  98.387% { left:-2.164%;top:-9.275%; }
  100% { left:-3.755%;top:-10.991%; }
}

@keyframes circle2 {
  0% { left:-8.022%;top:5.012%; }
  1.613% { left:-4.617%;top:3.571%; }
  3.226% { left:-0.939%;top:0.889%; }
  4.839% { left:2.258%;top:-2.615%; }
  6.452% { left:4.402%;top:-6.266%; }
  8.065% { left:5.222%;top:-9.283%; }
  9.677% { left:4.795%;top:-10.960%; }
  11.290% { left:3.499%;top:-10.835%; }
  12.903% { left:1.900%;top:-8.809%; }
  14.516% { left:0.585%;top:-5.182%; }
  16.129% { left:0.007%;top:-0.594%; }
  17.742% { left:0.360%;top:4.104%; }
  19.355% { left:1.526%;top:8.040%; }
  20.968% { left:3.108%;top:10.505%; }
  22.581% { left:4.535%;top:11.107%; }
  24.194% { left:5.222%;top:9.847%; }
  25.806% { left:4.731%;top:7.103%; }
  27.419% { left:2.904%;top:3.535%; }
  29.032% { left:-0.075%;top:-0.075%; }
  30.645% { left:-3.700%;top:-3.012%; }
  32.258% { left:-7.247%;top:-4.781%; }
  33.871% { left:-9.938%;top:-5.214%; }
  35.484% { left:-11.122%;top:-4.483%; }
  37.097% { left:-10.434%;top:-3.036%; }
  38.710% { left:-7.893%;top:-1.462%; }
  40.323% { left:-3.906%;top:-0.326%; }
  41.935% { left:0.000%;top:0.000%; }
  43.548% { left:4.650%;top:-0.467%; }
  45.161% { left:8.437%;top:-1.710%; }
  46.774% { left:10.685%;top:-3.305%; }
  48.387% { left:11.048%;top:-4.671%; }
  50.000% { left:9.576%;top:-5.231%; }
  51.613% { left:6.690%;top:-4.577%; }
  53.226% { left:3.075%;top:-2.590%; }
  54.839% { left:-0.488%;top:0.503%; }
  56.452% { left:-3.301%;top:4.160%; }
  58.065% { left:-4.907%;top:7.642%; }
  59.677% { left:-5.180%;top:10.177%; }
  61.290% { left:-4.332%;top:11.142%; }
  62.903% { left:-2.836%;top:10.215%; }
  64.516% { left:-1.288%;top:7.465%; }
  66.129% { left:-0.237%;top:3.345%; }
  67.742% { left:-0.041%;top:-1.398%; }
  69.355% { left:-0.764%;top:-5.880%; }
  70.968% { left:-2.164%;top:-9.275%; }
  72.581% { left:-3.755%;top:-10.991%; }
  74.194% { left:-4.941%;top:-10.795%; }
  75.806% { left:-5.177%;top:-8.852%; }
  77.419% { left:-4.131%;top:-5.675%; }
  79.032% { left:-1.782%;top:-1.995%; }
  80.645% { left:1.543%;top:1.413%; }
  82.258% { left:5.230%;top:3.907%; }
  83.871% { left:8.512%;top:5.121%; }
  85.484% { left:10.642%;top:5.031%; }
  87.097% { left:11.071%;top:3.936%; }
  88.710% { left:9.587%;top:2.362%; }
  90.323% { left:6.374%;top:0.909%; }
  91.935% { left:1.986%;top:0.083%; }
  93.548% { left:-2.773%;top:0.162%; }
  95.161% { left:-7.016%;top:1.121%; }
  96.774% { left:-9.968%;top:2.635%; }
  98.387% { left:-11.132%;top:4.170%; }
  100% { left:-10.392%;top:5.128%; }
}

@keyframes circle3 {
  0% { left:11.071%;top:3.936%; }
  1.613% { left:9.587%;top:2.362%; }
  3.226% { left:6.374%;top:0.909%; }
  4.839% { left:1.986%;top:0.083%; }
  6.452% { left:-2.773%;top:0.162%; }
  8.065% { left:-7.016%;top:1.121%; }
  9.677% { left:-9.968%;top:2.635%; }
  11.290% { left:-11.132%;top:4.170%; }
  12.903% { left:-10.392%;top:5.128%; }
  14.516% { left:-8.022%;top:5.012%; }
  16.129% { left:-4.617%;top:3.571%; }
  17.742% { left:-0.939%;top:0.889%; }
  19.355% { left:2.258%;top:-2.615%; }
  20.968% { left:4.402%;top:-6.266%; }
  22.581% { left:5.222%;top:-9.283%; }
  24.194% { left:4.795%;top:-10.960%; }
  25.806% { left:3.499%;top:-10.835%; }
  27.419% { left:1.900%;top:-8.809%; }
  29.032% { left:0.585%;top:-5.182%; }
  30.645% { left:0.007%;top:-0.594%; }
  32.258% { left:0.360%;top:4.104%; }
  33.871% { left:1.526%;top:8.040%; }
  35.484% { left:3.108%;top:10.505%; }
  37.097% { left:4.535%;top:11.107%; }
  38.710% { left:5.222%;top:9.847%; }
  40.323% { left:4.731%;top:7.103%; }
  41.935% { left:2.904%;top:3.535%; }
  43.548% { left:-0.075%;top:-0.075%; }
  45.161% { left:-3.700%;top:-3.012%; }
  46.774% { left:-7.247%;top:-4.781%; }
  48.387% { left:-9.938%;top:-5.214%; }
  50.000% { left:-11.122%;top:-4.483%; }
  51.613% { left:-10.434%;top:-3.036%; }
  53.226% { left:-7.893%;top:-1.462%; }
  54.839% { left:-3.906%;top:-0.326%; }
  56.452% { left:0.000%;top:0.000%; }
  58.065% { left:4.650%;top:-0.467%; }
  59.677% { left:8.437%;top:-1.710%; }
  61.290% { left:10.685%;top:-3.305%; }
  62.903% { left:11.048%;top:-4.671%; }
  64.516% { left:9.576%;top:-5.231%; }
  66.129% { left:6.690%;top:-4.577%; }
  67.742% { left:3.075%;top:-2.590%; }
  69.355% { left:-0.488%;top:0.503%; }
  70.968% { left:-3.301%;top:4.160%; }
  72.581% { left:-4.907%;top:7.642%; }
  74.194% { left:-5.180%;top:10.177%; }
  75.806% { left:-4.332%;top:11.142%; }
  77.419% { left:-2.836%;top:10.215%; }
  79.032% { left:-1.288%;top:7.465%; }
  80.645% { left:-0.237%;top:3.345%; }
  82.258% { left:-0.041%;top:-1.398%; }
  83.871% { left:-0.764%;top:-5.880%; }
  85.484% { left:-2.164%;top:-9.275%; }
  87.097% { left:-3.755%;top:-10.991%; }
  88.710% { left:-4.941%;top:-10.795%; }
  90.323% { left:-5.177%;top:-8.852%; }
  91.935% { left:-4.131%;top:-5.675%; }
  93.548% { left:-1.782%;top:-1.995%; }
  95.161% { left:1.543%;top:1.413%; }
  96.774% { left:5.230%;top:3.907%; }
  98.387% { left:8.512%;top:5.121%; }
  100% { left:10.642%;top:5.031%; }
}


