@keyframes circle1 {
  0% { left:-3.755%;top:-10.991%; }
  1.587% { left:-4.941%;top:-10.795%; }
  3.175% { left:-5.177%;top:-8.852%; }
  4.762% { left:-4.131%;top:-5.675%; }
  6.349% { left:-1.782%;top:-1.995%; }
  7.937% { left:1.543%;top:1.413%; }
  9.524% { left:5.230%;top:3.907%; }
  11.111% { left:8.512%;top:5.121%; }
  12.698% { left:10.642%;top:5.031%; }
  14.286% { left:11.071%;top:3.936%; }
  15.873% { left:9.587%;top:2.362%; }
  17.460% { left:6.374%;top:0.909%; }
  19.048% { left:1.986%;top:0.083%; }
  20.635% { left:-2.773%;top:0.162%; }
  22.222% { left:-7.016%;top:1.121%; }
  23.810% { left:-9.968%;top:2.635%; }
  25.397% { left:-11.132%;top:4.170%; }
  26.984% { left:-10.392%;top:5.128%; }
  28.571% { left:-8.022%;top:5.012%; }
  30.159% { left:-4.617%;top:3.571%; }
  31.746% { left:-0.939%;top:0.889%; }
  33.333% { left:2.258%;top:-2.615%; }
  34.921% { left:4.402%;top:-6.266%; }
  36.508% { left:5.222%;top:-9.283%; }
  38.095% { left:4.795%;top:-10.960%; }
  39.683% { left:3.499%;top:-10.835%; }
  41.270% { left:1.900%;top:-8.809%; }
  42.857% { left:0.585%;top:-5.182%; }
  44.444% { left:0.007%;top:-0.594%; }
  46.032% { left:0.360%;top:4.104%; }
  47.619% { left:1.526%;top:8.040%; }
  49.206% { left:3.108%;top:10.505%; }
  50.794% { left:4.535%;top:11.107%; }
  52.381% { left:5.222%;top:9.847%; }
  53.968% { left:4.731%;top:7.103%; }
  55.556% { left:2.904%;top:3.535%; }
  57.143% { left:-0.075%;top:-0.075%; }
  58.730% { left:-3.700%;top:-3.012%; }
  60.317% { left:-7.247%;top:-4.781%; }
  61.905% { left:-9.938%;top:-5.214%; }
  63.492% { left:-11.122%;top:-4.483%; }
  65.079% { left:-10.434%;top:-3.036%; }
  66.667% { left:-7.893%;top:-1.462%; }
  68.254% { left:-3.906%;top:-0.326%; }
  69.841% { left:0.000%;top:0.000%; }
  71.429% { left:4.650%;top:-0.467%; }
  73.016% { left:8.437%;top:-1.710%; }
  74.603% { left:10.685%;top:-3.305%; }
  76.190% { left:11.048%;top:-4.671%; }
  77.778% { left:9.576%;top:-5.231%; }
  79.365% { left:6.690%;top:-4.577%; }
  80.952% { left:3.075%;top:-2.590%; }
  82.540% { left:-0.488%;top:0.503%; }
  84.127% { left:-3.301%;top:4.160%; }
  85.714% { left:-4.907%;top:7.642%; }
  87.302% { left:-5.180%;top:10.177%; }
  88.889% { left:-4.332%;top:11.142%; }
  90.476% { left:-2.836%;top:10.215%; }
  92.063% { left:-1.288%;top:7.465%; }
  93.651% { left:-0.237%;top:3.345%; }
  95.238% { left:-0.041%;top:-1.398%; }
  96.825% { left:-0.764%;top:-5.880%; }
  98.413% { left:-2.164%;top:-9.275%; }
  100% { left:-3.755%;top:-10.991%; }
}

@keyframes circle2 {
  0% { left:-10.392%;top:5.128%; }
  1.587% { left:-8.022%;top:5.012%; }
  3.175% { left:-4.617%;top:3.571%; }
  4.762% { left:-0.939%;top:0.889%; }
  6.349% { left:2.258%;top:-2.615%; }
  7.937% { left:4.402%;top:-6.266%; }
  9.524% { left:5.222%;top:-9.283%; }
  11.111% { left:4.795%;top:-10.960%; }
  12.698% { left:3.499%;top:-10.835%; }
  14.286% { left:1.900%;top:-8.809%; }
  15.873% { left:0.585%;top:-5.182%; }
  17.460% { left:0.007%;top:-0.594%; }
  19.048% { left:0.360%;top:4.104%; }
  20.635% { left:1.526%;top:8.040%; }
  22.222% { left:3.108%;top:10.505%; }
  23.810% { left:4.535%;top:11.107%; }
  25.397% { left:5.222%;top:9.847%; }
  26.984% { left:4.731%;top:7.103%; }
  28.571% { left:2.904%;top:3.535%; }
  30.159% { left:-0.075%;top:-0.075%; }
  31.746% { left:-3.700%;top:-3.012%; }
  33.333% { left:-7.247%;top:-4.781%; }
  34.921% { left:-9.938%;top:-5.214%; }
  36.508% { left:-11.122%;top:-4.483%; }
  38.095% { left:-10.434%;top:-3.036%; }
  39.683% { left:-7.893%;top:-1.462%; }
  41.270% { left:-3.906%;top:-0.326%; }
  42.857% { left:0.000%;top:0.000%; }
  44.444% { left:4.650%;top:-0.467%; }
  46.032% { left:8.437%;top:-1.710%; }
  47.619% { left:10.685%;top:-3.305%; }
  49.206% { left:11.048%;top:-4.671%; }
  50.794% { left:9.576%;top:-5.231%; }
  52.381% { left:6.690%;top:-4.577%; }
  53.968% { left:3.075%;top:-2.590%; }
  55.556% { left:-0.488%;top:0.503%; }
  57.143% { left:-3.301%;top:4.160%; }
  58.730% { left:-4.907%;top:7.642%; }
  60.317% { left:-5.180%;top:10.177%; }
  61.905% { left:-4.332%;top:11.142%; }
  63.492% { left:-2.836%;top:10.215%; }
  65.079% { left:-1.288%;top:7.465%; }
  66.667% { left:-0.237%;top:3.345%; }
  68.254% { left:-0.041%;top:-1.398%; }
  69.841% { left:-0.764%;top:-5.880%; }
  71.429% { left:-2.164%;top:-9.275%; }
  73.016% { left:-3.755%;top:-10.991%; }
  74.603% { left:-4.941%;top:-10.795%; }
  76.190% { left:-5.177%;top:-8.852%; }
  77.778% { left:-4.131%;top:-5.675%; }
  79.365% { left:-1.782%;top:-1.995%; }
  80.952% { left:1.543%;top:1.413%; }
  82.540% { left:5.230%;top:3.907%; }
  84.127% { left:8.512%;top:5.121%; }
  85.714% { left:10.642%;top:5.031%; }
  87.302% { left:11.071%;top:3.936%; }
  88.889% { left:9.587%;top:2.362%; }
  90.476% { left:6.374%;top:0.909%; }
  92.063% { left:1.986%;top:0.083%; }
  93.651% { left:-2.773%;top:0.162%; }
  95.238% { left:-7.016%;top:1.121%; }
  96.825% { left:-9.968%;top:2.635%; }
  98.413% { left:-11.132%;top:4.170%; }
  100% { left:-10.392%;top:5.128%; }
}

@keyframes circle3 {
  0% { left:10.642%;top:5.031%; }
  1.587% { left:11.071%;top:3.936%; }
  3.175% { left:9.587%;top:2.362%; }
  4.762% { left:6.374%;top:0.909%; }
  6.349% { left:1.986%;top:0.083%; }
  7.937% { left:-2.773%;top:0.162%; }
  9.524% { left:-7.016%;top:1.121%; }
  11.111% { left:-9.968%;top:2.635%; }
  12.698% { left:-11.132%;top:4.170%; }
  14.286% { left:-10.392%;top:5.128%; }
  15.873% { left:-8.022%;top:5.012%; }
  17.460% { left:-4.617%;top:3.571%; }
  19.048% { left:-0.939%;top:0.889%; }
  20.635% { left:2.258%;top:-2.615%; }
  22.222% { left:4.402%;top:-6.266%; }
  23.810% { left:5.222%;top:-9.283%; }
  25.397% { left:4.795%;top:-10.960%; }
  26.984% { left:3.499%;top:-10.835%; }
  28.571% { left:1.900%;top:-8.809%; }
  30.159% { left:0.585%;top:-5.182%; }
  31.746% { left:0.007%;top:-0.594%; }
  33.333% { left:0.360%;top:4.104%; }
  34.921% { left:1.526%;top:8.040%; }
  36.508% { left:3.108%;top:10.505%; }
  38.095% { left:4.535%;top:11.107%; }
  39.683% { left:5.222%;top:9.847%; }
  41.270% { left:4.731%;top:7.103%; }
  42.857% { left:2.904%;top:3.535%; }
  44.444% { left:-0.075%;top:-0.075%; }
  46.032% { left:-3.700%;top:-3.012%; }
  47.619% { left:-7.247%;top:-4.781%; }
  49.206% { left:-9.938%;top:-5.214%; }
  50.794% { left:-11.122%;top:-4.483%; }
  52.381% { left:-10.434%;top:-3.036%; }
  53.968% { left:-7.893%;top:-1.462%; }
  55.556% { left:-3.906%;top:-0.326%; }
  57.143% { left:0.000%;top:0.000%; }
  58.730% { left:4.650%;top:-0.467%; }
  60.317% { left:8.437%;top:-1.710%; }
  61.905% { left:10.685%;top:-3.305%; }
  63.492% { left:11.048%;top:-4.671%; }
  65.079% { left:9.576%;top:-5.231%; }
  66.667% { left:6.690%;top:-4.577%; }
  68.254% { left:3.075%;top:-2.590%; }
  69.841% { left:-0.488%;top:0.503%; }
  71.429% { left:-3.301%;top:4.160%; }
  73.016% { left:-4.907%;top:7.642%; }
  74.603% { left:-5.180%;top:10.177%; }
  76.190% { left:-4.332%;top:11.142%; }
  77.778% { left:-2.836%;top:10.215%; }
  79.365% { left:-1.288%;top:7.465%; }
  80.952% { left:-0.237%;top:3.345%; }
  82.540% { left:-0.041%;top:-1.398%; }
  84.127% { left:-0.764%;top:-5.880%; }
  85.714% { left:-2.164%;top:-9.275%; }
  87.302% { left:-3.755%;top:-10.991%; }
  88.889% { left:-4.941%;top:-10.795%; }
  90.476% { left:-5.177%;top:-8.852%; }
  92.063% { left:-4.131%;top:-5.675%; }
  93.651% { left:-1.782%;top:-1.995%; }
  95.238% { left:1.543%;top:1.413%; }
  96.825% { left:5.230%;top:3.907%; }
  98.413% { left:8.512%;top:5.121%; }
  100% { left:10.642%;top:5.031%; }
}


